.items{
    display:flex;
    justify-content: flex-start;
}
li,ul{
    list-style: none;
}

.badge{
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgb(144, 144, 216);
}
.span1{
    border-radius: 5px;
    background-color: rgb(153, 199, 107); 
    padding: 10px 15px 10px 15px;
    margin-right:10px;
}
.span{
    border-radius: 5px;
    /* background-color: rgb(153, 199, 107);  */
    padding: 5px;
}

