.mob-table{
    width:800px;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    margin:30px 0;
    border-radius: 3px;
}
.headers{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16PX 30PX;
    background-color: #435d7d;
    color:white
}
.add{
    background-color: #5cb85c;
    color:white;
}
.btn-primary{
    background-color: #337ab7;

}
th{
    text-align: center;
}
.form-Control{
    width:90%
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index:100;

}
.mobileForm{
    background-color: white;
    width:700px;
    padding:20px 50px;
    border-radius: 5px;
   }
   .mobileForm2{
    background-color: white;
    width:700px;
    height:100px;
    padding:20px 50px;
    border-radius: 10px;
   }
.group{
    display: flex;
    margin:15px 0;
}
.group label{
    width:70px;
    height:40px;
    line-height: 40px;
}
.action{
    display: flex;
    justify-content: center;
    gap:100px;
    margin: 20px;
}
.popUpForDelete{
    background-color:rgb(194, 176, 176);
    width: 500px;
    height:500px;
    
}